[submodule "paimon"]
	path = paimon
	url = git@github.com:mai-diploma-kochkozharov/paimon.git
	branch = vortex-on-1.4.0-rc1
[submodule "vortex"]
	path = vortex
	url = https://github.com/vortex-data/vortex.git
