[defaults]
inventory         = inventories/hosts.yml
roles_path        = roles
remote_tmp        = /tmp/.ansible-${USER}
forks             = 5
host_key_checking = False
timeout           = 30
stdout_callback   = default
retry_files_enabled = False

[ssh_connection]
pipelining     = True
ssh_args       = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
